<ion-header no-border>
    <ion-toolbar>
        <ion-title text-capitalize>Datos de Reportes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="contenedor-modal">
    <!-- <ion-list *ngFor="let usuario of usuarios; let i = index"> -->

    <ion-list class="modal--logo">
        <div class="modal--logo">
            <img src="../../assets/imagenes/MisCallesLimpiasRDCircle.png" alt="">
            <p>Mis Calles Limpias RD</p>
        </div>

        <div class="modal--datos">

            <ion-label>
                <span> Cod Usuario:</span> {{cod_usuario}}
            </ion-label>

            <ion-label>
                <span>  cod reporte:</span>{{cod_reporte}}
            </ion-label>

            <ion-label>
                <span>  Cedula:</span> {{cedula}}
            </ion-label>

            <ion-label>
                <span>  correo: </span>{{correo}}
            </ion-label>


            <ion-label id="telefono">
                <span>  Teléfono:</span>{{telefono}}
            </ion-label>

            <ion-label>
                <span>  Usuario: </span>{{usuario}}
            </ion-label>
        </div>

    </ion-list>


    <div class="centrar-contenido">

        <img style="max-height: 300px ; min-height: 200px;" src="{{imagen}}" alt="Imagen Residuos" height="" width="">
    </div>
    <ion-button color="secondary" expand="full" (click)="salirConArgumentos()">
        Cerrar
    </ion-button>

</ion-content>