<ion-header [translucent]="true">
    <ion-toolbar class="toolbar">
        <ion-buttons slot="start">
            <ion-menu-button persistent=true></ion-menu-button>
        </ion-buttons>
        <ion-title class="titulo">Inicio</ion-title>
    </ion-toolbar>
</ion-header>




<ion-content>

    <!-- <div id="map_canvas" style="z-index: 1 !important; overflow: auto !important;"></div> -->
  <div style="text-align: center; margin-top: 30px;">
    <label style="font-weight: bold; font-size: large;"> BIENVENIDO A MIS CALLES LIMPIAS RD</label>
    <img style="width: 120px;;margin:auto;display:block" src="assets/imagenes/MisCallesLimpiasRDCircle.png">
  </div>

  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>{{nombreayuntamiento}}</ion-label>
    </ion-item>
  </ion-card>
  
  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="trash-outline" slot="start"></ion-icon>
      <ion-label>Reportes: {{cantidadreportesAyunta}}</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-icon name="document-text-outline" slot="start"></ion-icon>
      <ion-label>Recibos: {{cantidadrecibosAyunta}}</ion-label>
    </ion-item>
  
    <ion-item class="ion-activated">
      <ion-icon name="newspaper-outline" slot="start"></ion-icon>
      <ion-label>Post Publicados: {{cantidadposteducacionalesAyunta}}</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="gift-outline" slot="start"></ion-icon>
      <ion-label>Recompensas Publicadas: {{cantidadrecompensasAyunta}}</ion-label>
    </ion-item>
  </ion-card>


  </ion-content>