<ion-header [translucent]="true">
    <ion-toolbar class="toolbar">
        <ion-buttons slot="start">
            <ion-menu-button persistent=true></ion-menu-button>
        </ion-buttons>
        <ion-title class="titulo">Inicio</ion-title>
    </ion-toolbar>
</ion-header>




<ion-content>

    <div id="map_canvas" style="z-index: 1 !important; overflow: auto !important;"></div>
  
    <ion-item class="center" lines="none" button detail="false">
      <div class="imagen-codigo">
          <img src="assets/imagenes/trash.png" class="imagen">
      </div>
  
      <div class="reportes--datos">
         <label style="margin-left: 5px; font-size: 12px;"> Reportes</label><br>
         <label id="cantidadrecibo" style="margin-left: 5px; font-size: 14px;"> {{cantidadreportesAyunta}}</label>
      </div>
  
      <div class="imagen-codigo" style="margin-left: 120px;">
        <img src="assets/imagenes/cuenta.png" class="imagen">
    </div>
  
    <div class="reportes--datos">
       <label style="margin-left: 5px; font-size: 12px;"> Recibos</label><br>
       <label id="cantidadreportes" style="margin-left: 5px; font-size: 14px;"> {{cantidadrecibosAyunta}}</label>
    </div>
    
    
      
  </ion-item>
  
    <ion-item class="center" lines="none" button detail="false">


        <div class="imagen-codigo">
          <img src="assets/imagenes/poster.png" class="imagen">
        </div>
        
        <div class="reportes--datos">
          <label style="margin-left: 5px; font-size: 12px;"> Post</label><br>
          <label id="cantidadrecibos"  style="margin-left: 5px; font-size: 14px;">{{cantidadposteducacionalesAyunta}}</label>
        </div>
        
        <div class="imagen-codigo" style="margin-left: 144px;">
          <img src="assets/imagenes/cajaderegalo.png" class="imagen">
        </div>
        
        <div class="reportes--datos">
          <label style="margin-left: 5px; font-size: 12px;"> Bonos</label><br>
          <label id="reportesenespera" style="margin-left: 5px; font-size: 14px;">{{cantidadrecompensasAyunta}}</label>
        </div>
        
        
        
      </ion-item>
  
  
    <!-- <div style="padding: 15px;"> -->
      <!-- <img src="assets/imagenes/moneda.png"> 
      <label style="font-size: 12px; margin-left: 2px; margin-bottom: 15px;">Mis Puntos</label><br>
        <label style="font-size: 12px; margin-bottom: 10px;"> 45 </label>       
      </div>
       -->
       <!-- <div style="padding: 15px;">
  
         <ion-button expand="block" style="margin-top: 30PX;"  [hidden]="!isBtnCamaraVisible" (click)="takePicture()">TOMAR FOTO</ion-button>
         <ion-button expand="block" [hidden]="!isBtnRegistroVisible" (click)="onRegistroReporte()">ENVIAR REPORTE</ion-button>
         
        </div>
       -->
      <!-- <ion-fab-button style="margin: 10px;" [hidden]="!isBtnCamaraVisible" (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button> -->
            <!-- <ion-fab-button style="margin: 10px;" >
                <ion-icon name="checkmark"></ion-icon>
            </ion-fab-button> -->
  
  
  </ion-content>