<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div class="elBoton">
            <ion-button id="cargar" color="danger" class="mostrar" (click)="CargarRecompensas();"></ion-button>
        </div>
        <ion-label *ngFor="let datosMisPuntos of misPuntos;" class="ocultar" id="cod_puntos">{{datosMisPuntos.cod_puntos}}</ion-label>
        <img slot="end" style="padding: 5px;" src="assets/imagenes/moneda.png">
        <ion-title>Recompensas</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Recompensas</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container" class="recompensas">
        <!-- Obtenemos todos los artículos disponibles recorriendo la bd con un ciclo foor -->
        <ion-card *ngFor="let recompensa of recompensas;  let i = index">
            <ion-card-header>
                <!-- llamamos al nombre de la recompensa -->
                <ion-card-title>
                    <ion-label id="{{'cod_recompensas' + i}}">{{recompensa.cod_recompensa}} </ion-label>
                    <ion-label id="{{'nombre_recompensa' + i}}">{{recompensa.nombre}}</ion-label>
                </ion-card-title>

            </ion-card-header>
            <ion-card-content>
                <img src={{recompensa.imagen}} style="width: 150px; height: 150px;">
                <ion-label class="ocultar" id="{{'imagen' + i}}"> {{recompensa.imagen}} </ion-label>
                <br>
                <br>
                <ion-list>
                    <ion-item>
                        <ion-label color="warning" id="{{'puntosArticulo' + i}}">{{recompensa.puntos}}</ion-label>
                        <label slot="start" class="centrarlabel"> Puntos</label>
                    </ion-item>
                </ion-list>
                <br>
                <label class="centrarlabel"><b>Descripcion:</b> </label>

                <label id="{{'descripcion' + i}}" class="centrarlabel"> {{recompensa.descripcion}}</label>
                <br>
                <ion-button id="{{'editarEliminar' + i}}" (click)="llenarDatos(i);">Editar / Eliminar Recompensa</ion-button>
            </ion-card-content>
            <ion-input [disabled]="buttonDisabled"></ion-input>
        </ion-card>


    </div>


    <ion-card>
        <div id="clases" class="ocultar">
            <ion-card-header>
                <ion-card-title>
                    <ion-title size="large">Editar o Eliminar</ion-title>
                </ion-card-title>
            </ion-card-header>

            <ion-label style="font-size: 14px; margin-top: 10px; margin-left: 5px;">Código :
                <ion-label id="cod_recompensaReceptor"></ion-label>
            </ion-label>
            <br><br>
            <ion-label style="font-size: 14px; margin-top: 10px; margin-left: 5px; ">Nombre</ion-label> <br>
            <textarea class="textArea" name="story" rows="5" cols="33" placeholder="Nombre Recompensa" id="nombre_recompensaReceptor"></textarea> <br>
            <ion-label style="font-size: 14px; margin-top: 10px; margin-left: 5px;">Cantidad de Puntos</ion-label> <br>
            <textarea (keypress)="restrictNumeric($event)" class="textArea" name="story" rows="5" cols="33" placeholder="Puntos" id="puntosReceptor"></textarea> <br>
            <ion-label style="font-size: 14px; margin-top: 10px; margin-left: 5px; ">URL de la Recompensa</ion-label> <br>
            <textarea class="textArea" name="story" rows="5" cols="33" placeholder="URL Imagen" id="imagenUrlReceptor"></textarea><br>


            <label for="story">Descriocion del artículo:</label>
            <br>
            <textarea id="descripcion" name="story" rows="5" cols="33"></textarea>

            <br><br>
            <ion-button (click)="ActualizarRecompensa();">Editar</ion-button>
            <ion-button color="warning">Eliminar</ion-button>
            <ion-button color="danger" (click)="ocultarSeccion();">Cancelar</ion-button>
        </div>
    </ion-card>