<ion-header [translucent]="true">

    <ion-toolbar class="toolbar">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-label slot="end" style="padding: 5px;"></ion-label>
        <img slot="end" style="padding: 5px;" src="assets/imagenes/moneda.png">
        <ion-title>Bonos Usuarios</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true" class="contenedor-recibos">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Mis Bonos</ion-title>
        </ion-toolbar>
    </ion-header>



    <ion-list *ngFor="let recibo of Recibos; let i = index" button detail="false">

        <ion-item (click)="showAlert(i)" button detail="false">


            <ion-avatar class="aa" slot="start">
                <img class="bb" [src]="recibo.imagen">
            </ion-avatar>
            <ion-label id="{{'nombreproducto' + i}}" class="contenedor-recibos--label">
                {{recibo.nombre}}
            </ion-label>

            <div class="contenedor-recibos--label contenedor-recibos--label__codigo">
                <ion-label id="{{'cod_bono' + i}}" slot="end">
                    Recibo No.{{recibo.cod_recibo}}
                </ion-label>

            </div>

        </ion-item>

    </ion-list>
</ion-content>