.contenedor--reportes {
    width: 100%;
    justify-content: space-between;
    // grid-template-columns: repeat(3, 1fr);
    .reportes-header {
        width: 100%;
        display: flex;
        font-weight: $bold;
        @include tablet {
            font-size: 2.1rem;
        }
        ion-label {
            font-weight: bold;
        }
        .codigo {
            text-align: end;
            margin-right: 3%;
            @include tablet {
                text-align: end;
                margin-right: 6%;
                padding-left: 3%;
            }
        }
        .ubicacion {
            padding-left: 6%;
        }
        .botones--procesar--cancelar {
            text-align: end;
            margin-right: 10%;
        }
    }
    .reportes {
        grid-template-columns: repeat(3, 1fr);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .imagen {
            @include tablet {
                width: 3rem;
                padding-right: 5rem;
            }
        }
        .reportes--datos {
            display: flex;
            width: 100%;
            .cod_usuario {
                display: none;
            }
            @include tablet {
                font-size: 1.7rem;
            }
            .reportes--datos__latlong {
                // width: 75%;
                // margin-left: 12%;
                width: auto;
                margin: auto;
                text-align: end;
                // margin-left: 20%;
                @include tablet {
                    margin-left: 10%;
                }
            }
            .botones--Reporte {
                width: 1rem;
            }
            .reportes--datos__codigo {
                width: auto;
                margin: auto;
                text-align: start;
                margin-right: 25%;
            }
        }
    }
    .laPrueba {
        width: 300rem;
    }
    .alert-wrapper {
        width: 300rem;
        height: 300rem;
    }
}

.my-custom-class {
    // height: 50rem;
    // height: 50rem;
    // background-color: aqua;
    .alert-wrapper {
        // background-color: bisque;
        // height: 80rem;
        img {}
    }
    .modal-wrapper {
        // background-color: firebrick;
    }
}

// .reportes {
//     .imagen-codigo {
//         .imagen {}
//     }
//     .reportes--datos {
//         margin-left: 2rem;
//         p {
//             margin: 0;
//             font-size: 1.4rem;
//             font-weight: $bold !important;
//             color: $negro !important;
//         }
//         ion-label {
//             font-weight: $bold;
//             color: $negro;
//         }
//         .lat_long {
//             color: rgb(103, 132, 221) !important;
//         }
//     }
// }