.contenedor--reportes{
    width: 100%;
    justify-content: space-between;
    // grid-template-columns: repeat(3, 1fr);
    .reportes{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    
        .reportes--datos{
            display: flex;
            width: 100%;

            @include tablet{
                font-size: 2.1rem;
            }
            .reportes--datos__latlong{
                margin-left: 8%;
                width: auto;
                @include tablet{   
                    margin-left: 20%;
                }
            }
           .reportes--datos__codigo{
                    font-weight: $bold;
                    width: auto;
                    margin-left: 8%;
                    text-align: end; 
                @include tablet {
                    margin-left: 35%;
                }
           }

           
         
           
        }
    }
}