.elBoton {
    ion-button {
        width: 0%;
        height: 0%;
        margin: -3rem;
    }
}

textarea {
    font-size: 1.5rem;
    letter-spacing: 1px;
    padding: 10px;
    width: 40rem;
    height: 30rem;
    min-width: 40rem;
    min-height: 30rem;
    max-width: 40rem;
    max-height: 30rem;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.textArea {
    width: 40rem;
    height: 3rem;
    max-width: 40rem;
    max-height: 3rem;
    min-width: 40rem;
    min-height: 3rem;
}

.recompensas {
    ion-button {
        font-size: 1.3rem;
        text-transform: inherit;
    }
}